<footer id="footer">
    <div class="container">
        <p>&copy;<%= new Date().getFullYear();%> Bio Auth. All rights reserved.</p>
    </div>
</footer>
<script src="/js/home.js"></script>
</body>
</html>