<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIO AUTH</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <header id="header">
        <h1>Bio Auth</h1>
        <nav class="navbar">
            <ul class="navbar">
                <li><a href="">About</a></li>
                <li><a href="">Tech</a></li>
                <li><a href="">Services</a></li>
            </ul>
        </nav>
        <div class="head-btn">
        <form action="/signin" method="get">
            <button class="btn-out" id="nav-btn">
                Signin
            </button>
        </form>
        <form action="/signup" method="get">
            <button id="nav-btn">
                Register
            </button>
        </form>
        </div>
    </header>