<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscription Confirmation</title>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            text-align: center;
            height: 80vh;
            margin: 50px;
            background-image: linear-gradient(rgb(38, 67, 133), rgb(4, 17, 48));
            /* background-color: rgb(4, 17, 48); */
        }
        .send {
            margin: 10em auto;
            width: 50%;
            justify-content: center;
            align-items: center;
        }
        h1 {
            color: #008000;
            font-size: 3em;
            margin-bottom: 10px;
        }
        p {
            color: #fff;
            font-size: 20px;
            margin-top: 0px;
        }
    </style>
    <script>
        setTimeout(function() {
            window.location.href = '/';
        }, 2500);
    </script>
</head>
<body>
    <div class="send">
        <img src="/images/ticksvg.png" alt="Tickmark" width="200">
        <h1>Subscription Successful!</h1>
        <p>Thank you for subscribing. You will receive a confirmation email shortly.</p>
        <p>Welcome aboard!</p>
    </div>
</body>
</html>
